<article class="postcard dark red">
  <div class="postcard__img" style="background-image: url(<%= cl_image_path(dragon.photos.first.key)%>);">
  </div>
			<div class="postcard__text">
				<h1 class="postcard__title red">
          <%= dragon.name %>
        </h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
          <i class="fa-solid fa-location-dot"></i> <%= dragon.location.name %>
          <i class="fa-solid fa-person"></i> <%= dragon.user.name %> <%= dragon.user.family_name %>
        </div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play red">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
